<% if @player == [] %>
<p>We can`t show you any posts</p>
<%else %>
<% @player.each do |player| %>
<p>User: <b> <%= player.nickname %></br>write</br>
<%= player.rank %></br>
<%= player.charisma %></br>
<%= player.wisdom %></br>
 <%= link_to "More", player_path(player.id) %> 


<% end %>
<% end %>
 <%= link_to "New player", new_player_path %> 