
 Nickname: <%= @player.nickname %><br />
rank: <%= @player.rank%><br />
charisma: <%= @player.charisma %><br />
wisdom: <%= @player.wisdom %><br />


<%= link_to "edit", edit_player_path(@player.id) %><br />
<%= link_to "destroy", player_path(@player.id), method: :delete %><br />

